@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,200);
body {
  background-color: rgba(0, 0, 0, 0.9);
}

.bg {
  /*background-image: url(http://shrani.si/f/3A/JY/3mEc61r0/vr4v2bqroc.jpg);*/
  background-size: cover;
  /*filter: blur(10px);
  -webkit-filter: blur(10px);*/
  display: block;
  height: 110%;
  width: 110%;
  left: -10px;
  position: fixed;
  top: -10px;
  right: 0;
  z-index: 1;
  transition: all 1000ms;
  background-size: 100%;
  background-position: center;
}

.cover:hover .bg {
  /*filter: blur(0px);
  -webkit-filter: blur(0px);*/
  background-size: 110%;
  background-position: center;
}

.title {
  font-family: Raleway;
  width: 300px;
  height: 350px;
  z-index: 3;
  top: 50%;
  margin-top: -175px;
  left: 50%;
  margin-left: -140px;
  position: absolute;
  color: #fff;
  text-align: center;
  transition: all 1000ms;
}

.cover:hover .title {
  /*filter: blur(2px);
  -webkit-filter: blur(2px);*/
}

.title .text {
  font-size: 35px;
  font-weight: 200;
  margin-top: 20px;
}

.title .desc {
  font-size: 15px;
  font-weight: 400;
  margin-top: 30px;
}

.logo {
  background: url(http://shrani.si/f/I/Ze/4Qj9jIQ9/logo.png);
  width: 180px;
  height: 180px;
  left: 50%;
  position: relative;
  margin-left: -90px;
  margin-top: 10px;
  background-size: 180px;
}


/*social buttons*/
.social {
  position:fixed;
  bottom:15px;
  z-index:10;
  text-align: center;
  width:100%;
  /*filter: blur(0px);*/
}

.social a {
  font-family: Raleway;
  color:white;
  text-decoration:none;
  margin-left:5px;
  margin-right:5px;
  /*filter: blur(0px);*/
  transition: all 200ms;
}

.social a:hover {
  font-size:19px;
  /*filter: blur(0px);
  -webkit-filter: blur(0px);*/
}

/*******************************************************************************************/
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

section {
  margin: 0;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #C0B3A0;
  animation: dayToNight 120s linear infinite;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.paralax {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url("http://www.testomic.com/public/codepen-assets/img/paralax/background.jpg");
  background-size: cover;
  background-position: center;
}

.paralax .layer {
  position: absolute;
  width: 400%;
}

.paralax .foreground {
  height: 50%;
  bottom: 0;
  background: url("http://www.testomic.com/public/codepen-assets/img/paralax/foreground.png") repeat-x;
  background-size: 25% 100%;
  animation: slideshow 30s linear infinite;
}

.paralax .hills {
  height: 40%;
  bottom: 15%;
  background: url("http://www.testomic.com/public/codepen-assets/img/paralax/hills.png") repeat-x;
  background-size: 25% 100%;
  animation: slideshow 60s linear infinite;
}

.paralax .rocks1 {
  height: 35%;
  bottom: 25%;
  background: url("http://www.testomic.com/public/codepen-assets/img/paralax/rocks1.png") repeat-x;
  background-size: 25% 100%;
  animation: slideshow 120s linear infinite;
}

.paralax .rocks2 {
  height: 40%;
  bottom: 15%;
  background: url("http://www.testomic.com/public/codepen-assets/img/paralax/rocks2.png") repeat-x;
  background-size: 25% 100%;
  animation: slideshow 240s linear infinite;
}

@keyframes slideshow {
  0% {
    left: 0;
  }
  100% {
    left: -200%;
  }
}
@keyframes dayToNight {
  0% {
    -webkit-filter: hue-rotate(0deg) brightness(1);
    filter: hue-rotate(0deg) brightness(1);
  }
  50% {
    -webkit-filter: hue-rotate(180deg) brightness(0.1);
    filter: hue-rotate(180deg) brightness(0.1);
  }
  100% {
    -webkit-filter: hue-rotate(0deg) brightness(1);
    filter: hue-rotate(0deg) brightness(1);
  }
}
/**	
* Nonatomic Branding
*/
/*#link {
  font-family: 'Roboto', sans-serif;
  position: fixed;
  bottom: 5%;
  width: 100%;
  text-align: center;
}

.img-url {
  text-decoration: none;
}

.url {
  opacity: 0.5;
  text-decoration: none;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: purple;
}

a:active {
  color: white;
}

#small-logo {
  width: 30px;
  transform: translate(-10px, 12px);
  opacity: 1;
}*/

    